<!-- page done by Olivia Ekholm 2001411 -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="../assets/logo.png" width="25%" height="25%" />
    </ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is the RUNapp?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        RUNapp is a simple way to track your running progress. We created this
        application for those who are interested in their progress when getting
        ready for (for example) marathon or different running event or even just
        for fun.
      </ion-text>
    </ion-card-content>

    <ion-card-content>
      <ion-text>
        This running app is extremely easy to use, just add your running time
        and distance and you can see how your run's lenght increases. Start your
        <b>running journey</b> with us today!
      </ion-text>
    </ion-card-content>
  </ion-card>
  <p class="ion-text-center">
    <img src="../assets/logo.png" width="237px" height="172px" />
  </p>
</ion-content>
